body{
    background-color: rgb(245, 245, 245);
}

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
  }

.App-logo {
  height: 20vmin;
  pointer-events: none;
  margin-bottom: 50px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, 12em);
    justify-content: space-between;
    row-gap: 35px;
}

.loading{
    display: flex;
    justify-content: center;
}
